[Unit]
Description=Run the Waybar update checker script periodically

[Timer]
OnBootSec=1min
OnUnitActiveSec=30min
AccuracySec=1min

[Install]
WantedBy=timers.target