/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #00000060;
    background-alt: #00000080;
    foreground:     #FFFFFFFF;
    selected:       #ffffff;
    selected-transparency:       #ffffff10;
    selected-light: #ffffff60;
    active:         #98C379FF;
    urgent:         #E06B74FF;
}
